/* COMPONENTS */
.button-gradient {
  @apply relative p-6 px-10 font-bespak text-lg uppercase hover:bg-gradient-primary hover:bg-clip-text hover:text-transparent;

  &-light {
    @apply relative bg-bg-secondary p-5 px-10 text-lg font-bold uppercase;
  }

  &::before,
  &-light::before {
    content: '';
    @apply absolute inset-0 rounded-full p-1;
    background: linear-gradient(90deg, var(--color-grad-primary));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
