/* COMPONENTS */
.btn-gradient-outline {
  &,
  &--light {
    @apply relative hover:after:translate-x-0;
  }

  &:after {
    content: '';
    @apply absolute inset-0 -z-10 block -translate-x-full rounded-full bg-gradient-primary transition-transform duration-200;
  }

  &:before,
  &--light:before {
    content: '';
    @apply absolute inset-0 rounded-full p-1;
    background: linear-gradient(90deg, var(--color-grad-primary));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.btn-gradient-solid {
  @apply relative bg-gradient-primary before:absolute before:inset-1 before:z-0 before:rounded-full before:bg-bg-secondary before:transition-all before:duration-200 hover:before:opacity-0;
}
