@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme */
    --color-bg: #380d41;
    --color-bg-secondary: #fff;
    --color-primary: #f903aa;
    --color-secondary: #e2e53c;
    --color-text: #f2f2f2;
    --color-dark: #000;
    --color-light: #fff;
    --color-dark-1: #e4e4e4;
    --color-dark-2: #d9d9d9;
    --color-dark-3: #d4c9c9;
    --color-grad-secondary: #a8620a, #e09519, #ffe581, #fcdc75, #f6c755, #eca522,
      #e8980f, #feb838;
    --color-grad-primary: #920aa8, #e019cc, #ff81e3, #fc75d6, #df55f6, #e822ec,
      #e80f91, #ed19d8, #fe3873;
  }

  @font-face {
    font-family: 'bespak';
    src: url('/fonts/Bespax.otf') format('opentype');
  }

  @font-face {
    font-family: 'routhem';
    src: url('/fonts/Routhem.otf') format('opentype');
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-bg-primary text-text;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }

  .layout {
    max-width: 80rem;
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }

  /* TYPOGRAPHY */
  .heading-primary {
    @apply text-center font-routhem text-3xl font-normal capitalize text-accent-primary md:text-4xl lg:text-6xl;
    text-shadow:
      8px 22px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .heading-primary--sub {
    @apply font-bespak text-xl uppercase tracking-[3.36px] text-dark-invert;
  }
  .heading-secondary {
    @apply font-bespak text-4xl font-normal capitalize not-italic text-dark-invert;
  }

  .heading-tertiary {
    @apply inline-block font-routhem text-2xl font-bold uppercase tracking-[2.5px] text-dark-invert;
  }

  .heading-tertiary--gradient {
    @apply inline-block bg-gradient-primary bg-clip-text font-routhem text-2xl font-bold uppercase tracking-[2.5px] text-transparent;
  }

  .text-gradient-primary {
    @apply inline-block bg-gradient-primary bg-clip-text font-bold text-transparent;
  }

  .text-gradient-secondary {
    @apply inline-block bg-gradient-secondary bg-clip-text font-bold text-transparent;
  }
}

/* COMPONENTS */
.button-gradient {
  @apply relative p-6 px-10 font-bespak text-lg uppercase hover:bg-gradient-primary hover:bg-clip-text hover:text-transparent;
}

.button-gradient::before {
  content: '';
  @apply absolute inset-0 rounded-full p-1;
  background: linear-gradient(90deg, var(--color-grad-primary));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* Border */

.border-gradient {
  @apply relative p-6 px-10 font-bespak text-lg uppercase hover:bg-gradient-primary hover:bg-clip-text hover:text-transparent;
}

.border-gradient::before {
  content: '';
  @apply absolute inset-0 p-2;
  background: linear-gradient(90deg, var(--color-grad-primary));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
